<div class="masthead">
  <div class="masthead__inner-wrap">
    <nav id="site-nav" class="site-nav" aria-label="Main navigation">
      <a class="site-nav__home" href="{{ '/#about-me' | relative_url }}">Homepage</a>
      <button class="site-nav__toggle" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navigation-links" hidden><span aria-hidden="true">☰</span> Menu</button>
      <ul id="navigation-links" class="site-nav__links">
        {% for link in site.data.navigation.main %}
        <li><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
